/*!
		* Personalises css for Vicente Muñoz weddingSite, specificaly for the accomodation.html page
 		* Author: Vicente Muñoz
 		* Date: 19-11-2017
 		* Copyright 2018 - Vicente Muñoz
 */
 
html {
	font-family: fantasy, sans-serif;
}
        
#introRow {
	padding-right : 75px;
	padding-top: 150px;
	height: 900px;
	
}


#introRow_tittle {

	
	}
#introRow_subtittle {

	}
	
	
#paralxax-cont1 {
	text-align: center;
    padding-top: 350px;
	height: 950px;
	display: inline;
}


#whiteSpaceCandido{
	height: 250px;
}

#whiteSpaceTerrasspark{
	height: 250px;
}

#whiteSpaceCataloniaVerdi{
	height: 250px;
}



#row_candido{

	height: 700px;
	padding-left: 50px;
	padding-top: 50px;
}
#candidoPoint{
	/*padding-top: 15px;*/
	padding-left: 125px;
	
}

#row_terrassaPark{

	height: 700px;
	padding-left: 50px;
	padding-top: 50px;
}
#terrassaParkPoint{
	/*padding-top: 15px;*/
	padding-left: 125px;
	
}

#row_cataloniaVerdi{

	height: 700px;
	padding-left: 50px;
	padding-top: 50px;
}
#terrassaParkPoint{
	/*padding-top: 15px;*/
	padding-left: 125px;
	
}