        /*!
 * Personalises css for Vicente Muñoz Website
 * Copyright 2018 - VMZ
 */
        
html {
	font-family: Roboto;
}
        
		
/*body{
		background-color:black;
		color: silver;
		}
*/       

.parallax-container {
	height: 600px;
	
}

#pageOpening{
	font-size: 8rem;
	font-family:Freestyle Script;
	padding-left: 400px;
}

#textLogo{
	font-size: 2rem;
}

        
#countDown{
	font-size: 25px;
	text-align: center;
}

  
#paralxax-cont1 {
	text-align: center;
    padding-top: 50px;
	height: 950px;
}


#paralxax-cont2 {
	text-align: center;
    padding-top: 350px;
	height: 750px;
}

#paralxax-cont3 {
	text-align: left;
    padding-top: 50px;
	height: 650px;
	of
}
	
#cont1{
	height: 550px;
	text-align: center;
	padding-top: 50px;
}

#cont2 {
	height: 550px;
	text-align: center;
	padding-top: 150px;
}

#cont3 {
	height: 350px;
	text-align: center;
}

#Accomodation_button{
		text-align: left;
		padding-top: 25px;
		padding-left: 250px;
}
#Accomodation_Label{
		padding-left : 25px;
		text-align: left;
}
